include:
  - project: 'strowi/ci-templates'
    file: '/build.yml'
  - project: 'strowi/ci-templates'
    file: '/tests.yml'

stages:
  - build
  - test
  - release


docker:build:
  extends: .build
  stage: build
  script:
    - build_image

container_scanning:
  extends: .container_scanning
  # parallel:
  #   matrix:
  #     - SUB_IMAGE_NAME:
  #       - /xyz

release:
  extends: .build
  stage: release
  script:
    - release_latest
    - docker tag "$CI_REGISTRY_IMAGE" "strowi/$CI_PROJECT_NAME"
    - echo $DOCKER_TOKEN | docker login -u strowi --password-stdin
    - docker push "strowi/$CI_PROJECT_NAME"
    - local code=$(jq -n --arg msg "$(<README.md)" \
      '{"registry":"registry-1.docker.io","full_description": $msg }' | \
        curl -s -o /dev/null  -L -w "%{http_code}" \
           https://cloud.docker.com/v2/repositories/"strowi/${CI_PROJECT_NAME}"/ \
           -d @- -X PATCH \
           -H "Content-Type: application/json" \
           -H "Authorization: JWT ${token}")
  only:
    - master
    - main
